<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="five columns">
      <h4>Code</h4>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-c-line colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p></p>
    </div>
    <div class="five columns">
      <h4>Tools</h4>
      <i class="devicon-pycharm-plain-wordmark colored"></i>
      <i class="devicon-intellij-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-intellij-plain-wordmark colored"></i>
      <i class="devicon-slack-plain-wordmark colored"></i>
      <p></p>
    </div>
  </div>
</div>
